  *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        nav{
            display: flex;
            background-color: rgb(9, 9, 63);
            align-items: center;
            justify-content: space-around;
            color: white;
        }
        nav :nth-child(1) ul{
            list-style: none;
            text-decoration: none;
            font-size: 15px;
            font-family: sans-serif;
        }
        nav :nth-child(2) ul{
            display: flex;
            color: white;
            text-decoration: none;
            gap: 15px;
        }